body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Arial, Courier, Sans-Serif;
    font-size: 10pt;
    font-weight: normal;
    /* Prevent selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#debug {
    position: absolute;
    left: 0px;
    top: 0px;
    border: solid crimson 1px;
    min-width: 100px;
    min-height: 40px;
    background-color: white;
    padding: 1px;
    color: crimson;
    z-index: 999;
}

.section {
    min-height: 100%;
}

.who {
    background-image: url(header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left center;
    text-align: center;
}

.me {
    border: solid 2px white;
    border-radius: 25px;
}

.github {
    width: 64px;
    height: 64px;
    display: inline-block;
    background-image: url(github.png);
}

.linkedin {
    width: 64px;
    height: 64px;
    display: inline-block;
    background-image: url(linkedin.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.email {
    width: 64px;
    height: 64px;
    display: inline-block;
    background-image: url(email.png);
}
